body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgba(255,95,22,0.1);
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: 
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.mt2 {
  margin-bottom: .5rem;
  background-color: #efede3;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.pointer {
  font-weight: 600;
  font-size: 18px;
  color: #ff6600;
}

.pointer.spec {
  cursor: default;
}

.ph3 {
  border-radius: 0 0 8px 8px;
  background-color: rgba(255,95,22,0.1);
}

